<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdsmdg.skipthequeue">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">
        <activity android:name=".StartingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.kontakt.sdk.android.ble.service.ProximityService" android:exported="false"/>
        <service android:name=".BeaconFinder.BeaconFinderService"/>
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar"/>
        <activity android:name=".SignupActivity"
            android:theme="@style/MyCustomTheme"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".ShowQueueNoActivity"></activity>
    </application>
</manifest>